@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-color: #ffffff;
  --background-color: #00171f;
  --primary-color: #003459;
  --secondary-color: #00a7e1;
  --other-color: #007ea7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}